---
import MainLayout from "../layouts/MainLayout.astro";
import SearchReserveForm from "../components/SearchReserveForm.svelte";
---

<MainLayout>
  <section class="section">
    <div class="container">
      <SearchReserveForm client:load />
    </div>
  </section>
</MainLayout>
