---
import SeatsGrid from "../components/SeatsGrid.astro";
import TicketForm from "../components/TicketForm.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <header>
    <div class="container">
      <h1>Congreso de mujeres que son mujeres</h1>
    </div>
  </header>
  <section>
    <div class="container container-flex">
      <TicketForm />
      <div class="reserve-resume">
        <h2>Resumen de la reserva</h2>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>Seleccion de asiento</h2>
    </div>
    <SeatsGrid />
  </section>
</MainLayout>

<style lang="scss">
  .container {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &-flex {
      display: flex;
      gap: 1rem;
    }
  }

  .reserve-resume {
    flex: 2;
  }
  section {
    width: 100%;
  }
</style>
