---
import SeatsGrid from "../components/SeatsGrid.svelte";
import TicketForm from "../components/TicketForm.svelte";
import TicketResume from "../components/TicketResume.svelte";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="section">
    <div class="container form">
      <div class="columns">
        <TicketForm client:load />
        <TicketResume client:load />
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container is-centered">
      <div class="columns">
        <div class="column">
          <h2 class="title">Seleccion de asiento</h2>
        </div>
      </div>
    </div>
    <SeatsGrid client:load />
  </section>
</MainLayout>

<style lang="scss">
  .form {
    flex-direction: row;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
  }
</style>
