---
import { Reserve, db } from "astro:db";
import SeatsGrid from "../components/SeatsGrid.svelte";
import TicketForm from "../components/TicketForm.svelte";
import MainLayout from "../layouts/MainLayout.astro";

const reserved = await db
  .select({
    zone: Reserve.seatZone,
    seat: Reserve.seatNumber,
  })
  .from(Reserve);
---

<MainLayout>
  <section class="section">
    <div class="container form">
      <div class="columns">
        <TicketForm client:load />
      </div>
    </div>
  </section>
  <section>
    <div class="container is-centered">
      <div class="columns">
        <div class="column">
          <h2 class="title">Seleccion de asiento</h2>
        </div>
      </div>
    </div>
    <SeatsGrid {reserved} client:load />
  </section>
</MainLayout>

<style lang="scss">
  .form {
    flex-direction: row;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
  }
</style>
