<div id="form-data" class="form-container">
  <h2>Datos del asistente</h2>
  <label>
    Nombre y Apellido
    <input name="fullName" required type="text" />
  </label>
  <label>
    Cedula
    <input name="citizenId" required type="text" />
  </label>
  <label>
    Celular Whatsapp
    <input
      name="cellphone"
      required
      type="tel"
      pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
    />
  </label>
  <label>
    Fecha de nacimiento
    <input name="birthday" required type="date" /> // POner fecha maxima
  </label>
</div>

<script>
  const $inputs = document.querySelectorAll("#form-data input");
  $inputs.forEach((el) =>
    el.addEventListener("input", (evt) => {
      const value = evt.target.value;
      const id = evt.target.name;
      sessionStorage.setItem(`r_${id}`, value);
    })
  );
</script>

<style lang="scss">
  .form-container {
    flex: 3;
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      flex-direction: column;
      max-width: 320px;
      gap: 10px;
      margin-bottom: 15px;

      input {
        padding: 10px;
      }
    }
  }
</style>
