---
const url = Astro.url.pathname;
const isActive = (path: string) => {
  return url === path;
};
---

<nav>
  <ul>
    <li>
      <a class="button" class:list={[{ "is-primary": isActive("/") }]} href="/">
        Generar reserva
      </a>
    </li>
    <li>
      <a
        class="button"
        class:list={[{ "is-primary": isActive("/find") }]}
        href="/find">Consultar reserva</a
      >
    </li>
    <li>
      <a
        href="/reserves"
        class="button"
        class:list={[{ "is-primary": isActive("/reserves") }]}
        >Todas las reservas</a
      >
    </li>
    <!-- <li>
      <button id="download-file" class="button">
        Descargar todas las reservas
      </button>
    </li> -->
  </ul>
</nav>

<script>
  import { getFile } from "../download";
  const $button = document.getElementById("download-file");
  $button.addEventListener("click", getFile);
</script>

<style>
  nav {
    display: flex;
    background-color: whitesmoke;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: flex-start;
  }

  ul {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    gap: 10px;
  }
</style>
